DISCORD_TOKEN=
CLIENT_ID=
BOT_ADMINS=
REPORT_GUILD_ID=1499578614298181642
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
TIMEZONE=Europe/London
DUTY_POLL_MS=10000
MYSQL_CONNECT_TIMEOUT_MS=2500
